hr {
    border-top: 1px solid #c9c9c9;
}
.main {
    text-align: left;
    background-color:beige; 
}
.main h1{
    text-align: center;
}
.main h3 {
    text
}
ul {
    list-style-type: none;
    font-weight: 200;
}
.header {
    padding: 20px;
}
.photo {
    margin-left: auto;
    margin-right: auto;
}
.tpad {
    padding-top: 20px;
}
.padded {
    padding: 100px 15px;
}

